{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Masthead-->
    {% include "partials/message_alerte.html" %}
    <header class="header-m text-center text-white d-flex">
        <div class="container my-auto">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <h1 class="text-uppercase">
                        <strong>Mentions légales</strong>
                    </h1>
                </div>
            </div>
        </div>
    </header>
    <!-- Services-->
    <section class="page-section" id="services">
        <div class="container">
            <h2 class="text-center mt-0">Responsables de publication</h2>
            <hr class="divider my-4" />
            <p class="text-center">Colette et Rémy.</p>
            <p class="text-center">Tél : 12-34-56-67-89</p>
            <p class="text-center">Mail : contact@purbeurre.com</p>
            <h2 class="text-center mt-0">Ressources</h2>
            <p class="text-center">Hebergement : Heroku</p>
            <p class="text-center">Template : Start Bootstrap</p>
            <p class="text-center">Photographies : Banque d'images Rémy et Colette</p>
            <p class="text-center">Police web d'icône : IconMoon</p>
        </div>
    </section>

{% endblock %}