body {
    font-family: "Scope One", sans-serif;
}

h1, h2, h3{
    font-family: 'Open Sans', sans-serif;
}

.header-m {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 56px);
    background-image: url('../images/bg-masthead.jpg');
    background-position: center center;
    background-size: cover;
    height: 300px;
}

@media (min-width: 992px){
    header.s-masthead {
        height: 300px;
        padding-top: 4.5rem;
        padding-bottom: 0;
    }
    #mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link {
        color: rgba(255, 255, 255, 0.7);
    }
}

.nutriscore {
    background: #0d8443;
    color: #fff;
    padding: 5px 13px;
    border-radius: 50%;
    position: absolute;
    top: -15px;
    right: -15px;
}

score-b {
    background: #85bc31;
}

score-c {
    background: #f8c530;
}

score-d {
    background: #d47f30;
}

score-e {
    background: #e43c15;
}

.card {
    border: none;
}