{% extends "base.html" %}

{% load static %}

{% block content %}
    <header class="header-m text-center text-white d-flex">
        <div class="container my-auto">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <h1 class="text-uppercase">
                        <strong>Mes Aliments</strong>
                    </h1>
                </div>
            </div>
        </div>
    </header>
    {% include "partials/message_alerte.html" %}

    <div class="jumbotron">
        <h2 class="text-center">Voir mes produits favorits</h2>
    </div>

    <section>
        <div class="container">
            <div class="row">
                {% if favorites %}
                {% for product in favorites %}
                <div class="col-lg-4 col-md-12">
                    <a href="{% url 'catalog:detail' product.id %}" title="Fiche produit">
                    <div class="card mx-1 my-3 shadow p-3 mb-5 bg-white">
                        <img src="{{ product.product.picture }}" class="card-img-top" width="100%" height="250">
                        {% if product.nutrition_grade == "a" %}
                            <span class="nutriscore">A</span>
                        {% elif product.nutrition_grade == "b" %}
                            <span class="nutriscore score-b">B</span>
                        {% elif product.nutrition_grade == "c" %}
                            <span class="nutriscore score-c">C</span>
                        {% elif product.nutrition_grade == "d" %}
                            <span class="nutriscore score-d">D</span>
                        {% elif product.nutrition_grade == "e" %}
                            <span class="nutriscore score-e">E</span>
                        {% endif %}
                        <div class="card-body text-center">
                            <h2 class="h6 card-title">{{ product.product.name }}</h2>
                            <a href="{{ product.get_absolute_url }}" class="btn btn-primary">Supprimer dans mes favorits</a>
                        </div>
                        <!-- delete favorite -->

                        <!-- end -->
                    </div>
                    </a>
                </div>
                {% endfor %}
                {% else %}
                    <div class="col-md-12 text-center">
                        <p class="h3 text-center">Aucun produit a été ajouté dans mes favorits</p>
                        <a id="off-btn" class="btn btn-primary js-scroll-trigger mt-3 mb-5" href="{% url "frontend:home" %}">
                            Retour à la page d'accueil
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>

{% endblock content %}