{% extends "base.html" %}

{% load static %}

{% block content %}
    <header class="s-masthead text-center text-white d-flex" style="background-image: url({{ image }}) !important;">
        <div class="container my-auto">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <h1 class="text-uppercase">
                        <strong>{{ title }}</strong>
                    </h1>
                </div>
            </div>
        </div>
    </header>
    {% include "partials/message_alerte.html" %}

    <div class="jumbotron">
        <h2 class="text-center">Vous recherchez peut-être...</h2>
    </div>

    <section>
        <div class="container">
            <div class="row">
                {% for product in products %}
                <div class="col-lg-4 col-md-12">
                    <a href="{% url 'catalog:detail' product.id %}" title="Fiche produit">
                    <div class="card mx-1 my-3 shadow p-3 mb-5 bg-white">
                        <img src="{{ product.picture }}" class="card-img-top" width="100%" height="250">
                        {% if product.nutrition_grade == "a" %}
                            <span class="nutriscore">A</span>
                        {% elif product.nutrition_grade == "b" %}
                            <span class="nutriscore score-b">B</span>
                        {% elif product.nutrition_grade == "c" %}
                            <span class="nutriscore score-c">C</span>
                        {% elif product.nutrition_grade == "d" %}
                            <span class="nutriscore score-d">D</span>
                        {% elif product.nutrition_grade == "e" %}
                            <span class="nutriscore score-e">E</span>
                        {% endif %}
                        <div class="card-body text-center">
                            <h2 class="h6 card-title">{{ product.name }}</h2>
                        </div>
                    <!-- add favorite -->
                        <div class="text-center">
                        {% if user.is_authenticated %}
                            <div class="save-result" id="{{ product.id }}"></div>
                            <form method="post" action="{% url 'catalog:favorite' product_id=product.id %}">
                                {% csrf_token %}
                                <input class="btn btn-primary btn-xl mt-50" type="submit" value="Sauvegarder" id="{{ product.id }}">
                            </form>
                        {% endif %}
                        </div>
                    <!-- end -->
                    </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock content %}